.banner {
    position: relative;
    min-height: 400px;
  background-position: center top;
  background-size: cover;
  object-fit: contain;
  color:white;
 
}


.banner__content {
   padding-top:150px ;
   margin-left: 30px;
}
.banner__buttons {
  margin : 25px 0;
}

.banner__buttons button {
    color: white;
    border: none;
    outline: none;
    padding: 5px 30px;
    background-color: rgba(71, 71, 71, 0.513);
    cursor: pointer;
    margin-right: 10px;
    border-radius: 2px;
    transition: 0.3s;
}
.banner__buttons button:hover {
background-color: rgba(255, 255, 255, 0.835);
color: black;
}
.banner__desc{
    margin-top: 15px;
    width: 450px;
    font-size: 0.8rem;
}
.banner--fade {
    height:175px;
    background: linear-gradient(180deg,transparent,rgba(0, 0, 0, 0.5),#111);
}

@media (max-width:880px) {
  .banner__title {
    font-size: 1.1rem;
  }

  .banner__desc{
    max-width: 300px;
    width: 100%;
  }
}