nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    z-index: 3;
}


nav.black {
background-color: #111;
}
nav .logo {
    width: 80px;
    cursor: pointer;
}
nav .avatar {
    width: 30px;
    height: 30px;
    cursor: pointer;
}  nav .login__button {
    color: white;
    font-weight: bold;
    padding: 8px 15px;
    border: none;
    outline: none;
    background-color: #e50914;
    cursor: pointer;
    border-radius: 1px;
}